/* Contenedor principal */
.mr_container {
  position: relative;
  top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.mr_container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.mr_table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
}

/* Estilo de la tabla */
.mr_table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.mr_table th,
.mr_table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.mr_table th {
  background-color: #0ABD8C;
  color: white;
  font-weight: bold;
}

/* Botones de acciones */
.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.btn-icon i {
  color: #0ABD8C;
}

.btn-icon:hover i {
  color: #ffffff !important;
}

.btn-icon .fa-trash {
  color: #F86C6B !important;
}

.btn-icon:hover .fa-trash {
  color: #ffffff !important;
}

/* Responsividad */

/* Ajuste para pantallas pequeñas (tablets y teléfonos) */
@media screen and (max-width: 768px) {
  .mr_container {
      padding: 15px;
      margin: 10px;
  }

  .mr_container h1 {
      font-size: 20px;
  }

  .mr_table th,
  .mr_table td {
      font-size: 12px;
      padding: 10px;
  }

  .btn-icon {
      font-size: 14px;
  }
}

/* Ajuste para pantallas muy pequeñas (teléfonos) */
@media screen and (max-width: 480px) {

  .mr_table-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    overflow-x: auto;
  }

  .mr_table {
      display: block;
      width: 100%;
  }

  .mr_table th,
  .mr_table td {
      font-size: 10px;
      padding: 8px;
      
  }

  .mr_container h1 {
      font-size: 18px;
  }

  .btn-icon {
      font-size: 12px;
      padding: 3px;
  }
}