/* Contenedor principal */
.mr_container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}

/* Título principal */
.mantenedor-riesgos-container h1 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: left;
}

/* Estilo de la tabla */
.riesgos-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.riesgos-table-wrapper {
  overflow-x: auto;
  border-radius: 10px;
}

.riesgos-table th,
.riesgos-table td {
  padding: 12px 15px;
  text-align: left;
}

/* Encabezado de la tabla */
.riesgos-table th {
  background-color: #0ABD8C;
  color: white;
  font-weight: bold;
}

/* Celdas de la tabla */
.riesgos-table td {
  color: #555;
}

/* Alineación de iconos en Acciones */
.acciones-iconos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Iconos de acciones */
.btn-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
}

.btn-icon i {
  color: #0ABD8C;
}

.btn-icon:hover i {
  color: #ffffff !important;
}

.btn-icon .fa-trash {
  color: #F86C6B !important;
}

.btn-icon:hover .fa-trash {
  color: #ffffff !important;
}

/* Responsividad */

/* Pantallas medianas (tablets y más pequeñas) */
@media screen and (max-width: 768px) {
  .mr_container2 {
    padding: 15px;
    margin: 10px;
  }

  .mantenedor-riesgos-container h1 {
    font-size: 20px;
  }

  .riesgos-table th,
  .riesgos-table td {
    font-size: 12px;
    padding: 8px;
  }

  .btn-icon {
    font-size: 14px;
  }
}

/* Pantallas pequeñas (teléfonos) */
@media only screen and (max-width: 480px) {

  .riesgos-table-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    overflow-x: auto;
  }

  .riesgos-table {
    width: 100%;
    background-color: white;
  }

  .riesgos-table th,
  .riesgos-table td {
    font-size: 10px;
    padding: 8px;
  }

  .mantenedor-riesgos-container h1 {
    font-size: 18px;
    text-align: left;
  }

  .acciones-iconos {
    gap: 5px;
  }

  .btn-icon {
    font-size: 12px;
    padding: 3px;
  }
}

/* Ocultar elementos no esenciales en móviles */
.image-section {
  display: none;
}
