.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header__height, 60px); /* Se define un valor por defecto */
  background-color: var(--color__white, #fff);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
}

/* 🔹 Navegación */
.nav {
  width: 85%;
    /* max-width: 1200px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 🔹 Botón de Menú */
.nav__btn {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__btn__container {
  width: 1.5rem;
  height: 1.5rem;
}

/* 🔹 Información del Usuario */
.nav__user__info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav__user__info__text {
  font-weight: 400;
}

.nav__user__info__figure {
  width: 2rem;
  height: 2rem;
}

/* 🔹 Logo */
.nav__cta {
  width: 4rem;
}

/* 🔹 Barra de Búsqueda */
.nav__search__bar {
  width: 30%;
  max-width: 20rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  transition: border-bottom 0.3s ease;
}

.nav__search__bar:focus-within {
  border-bottom: 1px solid #0ABD8C;
}

.nav__search__bar__input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
}

/* 🔹 Responsividad */
@media screen and (max-width: 768px) {
  .nav {
    padding: 0 10px;
  }

  .nav__search__bar {
    width: 50%;
  }

  .nav__user__info__text {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 10px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav__user__info {
    display: none;
  }

  .nav__search__bar {
    width: 80%;
  }

  .nav__btn {
    left: 10px;
  }
}