.tc_container {
    padding: 20px;
}

.tc_container_card {
    margin: auto;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 1200px;
}

.card_filter {
    display: flex;
    flex-direction: column;
  }

.card_filters {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Espacio entre los filtros */
}

.card_filters > div {
    flex: 1 1 calc(33% - 20px); /* Tres columnas por fila */
    display: flex;
    flex-direction: column;
}

.card_filters_one,
.card_filters_two,
.card_filters_tree {
    display: flex;
    flex-direction: column;
}

.card_filter_button {
    margin-right: 40px;
    background-color: #0ABD8C;
    padding: 10px 25px;
    font-size: 15px; /* Disminuye el tamaño de la fuente */
    cursor: pointer;
    color: white;
    border-radius: 5px;
}
    
.boton {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    background-color: #0ABD8C;
    padding: 4px 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #089e78;
}

.ventas_container {
    margin-top: 20px;
}

.table_buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Permite que los botones se ajusten en pantallas pequeñas */
    justify-content: flex-end; /* Alinea los botones a la derecha */
}



.table_buttons button {
    background-color: #0ABD8C;
    color: white;
    border: none;
    padding: 5px 10px; /* Ajusta el padding para que el botón sea más pequeño */
    font-size: 16px; /* Disminuye el tamaño de la fuente */
    cursor: pointer;
}

.table_buttons button:hover {
    background-color: #0ABD8C;
}


.ventas_table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

.ventas_table th, .ventas_table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }



.ventas_table td button {
    padding: 6px 12px;
    border: none;
    background-color: #0abd8c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }

.ventas_table .table_header, .ventas_table .table_row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.table_header {
    background-color: #0ABD8C;
    font-weight: bold;
    color: white;
    text-align: center;
}

.table_cell {
    border: 1px solid #433f3f;
    padding: 10px; /* Aumenta el padding para dar más espacio en las celdas */
    text-align: center;
}

.table_header .table_cell {
    background-color: #0ABD8C;
    font-weight: bold;
    color: white;
    padding: 10px; /* Asegura que la cabecera tenga el mismo padding */
}

.table_row .table_cell {
    background-color: #fff;
}

.table_row button {
    background-color: #0ABD8C;
    color: white;
    border: none;
    padding: 5px 15px; /* Ajusta el padding para que los botones tengan más espacio */
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.table_row button:hover {
    background-color: #0ABD8C;
}

.table_scroll {
    max-height: 400px; /* Ajusta el tamaño máximo de la tabla */
    overflow-y: auto; /* Agrega el desplazamiento vertical */
    margin-top: 20px;
}

.filters2 {
    padding: 20px;
    
    border-radius: 10px;
    margin-top: 20px;
}

.controls { 
    display: flex;
    gap: 10px;
}

.controls_left {
    display: flex;
    gap: 10px;
}

.controls_left label {
    margin-right: 10px;
}

.controls_left select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.controls_left button {
    padding: 5px 10px;
    background-color: #0ABD8C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.controls_left button:hover {
    background-color: #089e78;
}

.controls_right button {
    padding: 7px 18px;
    background-color: #0ABD8C;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.controls_right button:hover {
    background-color: #089e78;
}


.graficos_aqui {
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Responsiveness */
@media (max-width: 768px) {

    .table_buttons {
        justify-content: center;
    }

    .controls {
        align-items: center;
        gap: 10px;
    }

    .controls_left,
    .controls_right {
        gap: 10px;
        margin: 6px;
        padding: 10px;
    }

    .boton {
        font-size: 14px;
        padding: 1px 0px;
    }

    .graficos_aqui {
        margin-top: 20px;
      }

      .controls_right button {
        padding: 3px 5px;
    }

    .controls_left button {
        padding: 3px 5px;
        font-size: 13px;
    }
}

@media (max-width: 480px) {
    .card_filter select {
        width: 100%;
      }

    .ventas_table .table_cell {
        padding: 6px;
        font-size: 12px;
    }

    .boton {
        font-size: 14px;
        padding: 1px 0px;
    }

    .titulo {
        font-size: 20px;
      }

    .card_filters {
        align-items: stretch;
    }

    .controls {
        align-items: stretch;

    }
    

}