/* Contenedor principal */
.cdd_container {
    position: relative;
    top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Título principal */
.cdd_container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
.riesgos-table-wrapper {
    overflow-x: auto;
    border-radius: 10px;
  }

.carga-datos-container2 {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Formulario de carga */
.carga-datos-forms {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 200px;
    gap: 20px;
    margin: 20px auto;
    max-width: 900px;
    align-items: center;
}

.user {
    text-align: justify;
    margin: 30px;
    font-size: 28px;
}

/* Estilos del formulario */
.form-group {
    display: flex; 
    flex-direction: column;
    align-items: start; 
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

select, input[type="file"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}

/* Botones de formulario */
.form-group.buttons {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    gap: 10px;
    grid-column: span 3;
    align-items: center;
}

.btn-cancelar, .btn-guardar {
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
      border-radius: 5px;
    white-space: nowrap;
}

.btn-cancelar {
    background-color: #EBEFF4;
    color: #000;

}

.btn-guardar {
    background-color: #0ABD8C;
    color: white;
}

.btn-cancelar:hover {
    background-color: #c1c6cb;
}

.btn-guardar:hover {
    background-color: #0abd7c;
}

.cargas-table-wrapper {
    overflow-x: auto;
  }

.cd_table {
    padding: 0px;
    max-height: 400px; /* Limitar altura de la tabla */
    overflow-y: auto; /* Hacer que la tabla sea desplazable */
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Tabla de cargas realizadas */
.cargas-table {
    width: 100%;
    border-collapse: collapse;
}

.cargas-table th, .cargas-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Encabezado de la tabla */
.cargas-table th {
    background-color: #0ABD8C;
    color: white;
    font-weight: bold;
    padding: 10px;
}

/* Filas de la tabla */
.cargas-table td {
    color: #555;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

/* Alineación de iconos en Acciones */
.acciones-iconos {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Iconos de acciones */
.btn-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-icon i {
    color: #4C7AF9;
}

.btn-icon:hover i {
    color: #245cf4;
}

.btn-icon .fa-trash {
    color: #d37676;
}

.btn-icon:hover .fa-trash {
    color: #c82333;
}

/* Estilos responsivos para pantallas pequeñas */

@media screen and (max-width: 768px) {
    .carga-datos-forms {
        display: flex;
        flex-direction: column;
        align-items: stretch;

      }
  
    .cargas-table {
      display: block;
      overflow-x: auto;
    }

  }
  
  @media screen and (max-width: 480px) {
    .carga-datos-forms {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
